.pixel-art {
	position: relative;
	top: 0;
	left: 0;
	height: 2px;
	width: 2px;
	box-shadow:

4px 2px #AA7959,
6px 2px #AA7959,
8px 2px #AA7959,
10px 2px #AA7959,
12px 2px #AA7959,
14px 2px #AA7959,
16px 2px #AA7959,
18px 2px #AA7959,
20px 2px #AA7959,
22px 2px #AA7959,
24px 2px #AA7959,
26px 2px #AA7959,
28px 2px #AA7959,
30px 2px #AA7959,
32px 2px #AA7959,
34px 2px #AA7959,
36px 2px #AA7959,
38px 2px #AA7959,
40px 2px #AA7959,
42px 2px #AA7959,
44px 2px #AA7959,
46px 2px #AA7959,
48px 2px #AA7959,
50px 2px #AA7959,
52px 2px #AA7959,
54px 2px #AA7959,
56px 2px #AA7959,
58px 2px #AA7959,
60px 2px #AA7959,
62px 2px #AA7959,
64px 2px #AA7959,
66px 2px #AA7959,
68px 2px #AA7959,
70px 2px #AA7959,
72px 2px #AA7959,
74px 2px #AA7959,
76px 2px #AA7959,
78px 2px #AA7959,
80px 2px #AA7959,
82px 2px #AA7959,
84px 2px #AA7959,
86px 2px #AA7959,
88px 2px #AA7959,
90px 2px #AA7959,
92px 2px #AA7959,
94px 2px #AA7959,
96px 2px #AA7959,
98px 2px #AA7959,
2px 4px #AA7959,
4px 4px #AA7959,
6px 4px #DCB98A,
8px 4px #E8CFA6,
10px 4px #E8CFA6,
12px 4px #E8CFA6,
14px 4px #E8CFA6,
16px 4px #E8CFA6,
18px 4px #E8CFA6,
20px 4px #E8CFA6,
22px 4px #E8CFA6,
24px 4px #E8CFA6,
26px 4px #E8CFA6,
28px 4px #E8CFA6,
30px 4px #E8CFA6,
32px 4px #E8CFA6,
34px 4px #E8CFA6,
36px 4px #E8CFA6,
38px 4px #E8CFA6,
40px 4px #E8CFA6,
42px 4px #E8CFA6,
44px 4px #E8CFA6,
46px 4px #E8CFA6,
48px 4px #E8CFA6,
50px 4px #E8CFA6,
52px 4px #E8CFA6,
54px 4px #E8CFA6,
56px 4px #E8CFA6,
58px 4px #E8CFA6,
60px 4px #E8CFA6,
62px 4px #E8CFA6,
64px 4px #E8CFA6,
66px 4px #E8CFA6,
68px 4px #E8CFA6,
70px 4px #E8CFA6,
72px 4px #E8CFA6,
74px 4px #E8CFA6,
76px 4px #E8CFA6,
78px 4px #E8CFA6,
80px 4px #E8CFA6,
82px 4px #E8CFA6,
84px 4px #E8CFA6,
86px 4px #E8CFA6,
88px 4px #E8CFA6,
90px 4px #E8CFA6,
92px 4px #E8CFA6,
94px 4px #E8CFA6,
96px 4px #DCB98A,
98px 4px #AA7959,
100px 4px #AA7959,
0px 6px #AA7959,
2px 6px #AA7959,
4px 6px #DCB98A,
6px 6px #E8CFA6,
8px 6px #E8CFA6,
10px 6px #E8CFA6,
12px 6px #E8CFA6,
14px 6px #E8CFA6,
16px 6px #E8CFA6,
18px 6px #E8CFA6,
20px 6px #E8CFA6,
22px 6px #E8CFA6,
24px 6px #E8CFA6,
26px 6px #E8CFA6,
28px 6px #E8CFA6,
30px 6px #E8CFA6,
32px 6px #E8CFA6,
34px 6px #E8CFA6,
36px 6px #E8CFA6,
38px 6px #E8CFA6,
40px 6px #E8CFA6,
42px 6px #E8CFA6,
44px 6px #E8CFA6,
46px 6px #E8CFA6,
48px 6px #E8CFA6,
50px 6px #E8CFA6,
52px 6px #E8CFA6,
54px 6px #E8CFA6,
56px 6px #E8CFA6,
58px 6px #E8CFA6,
60px 6px #E8CFA6,
62px 6px #E8CFA6,
64px 6px #E8CFA6,
66px 6px #E8CFA6,
68px 6px #E8CFA6,
70px 6px #E8CFA6,
72px 6px #E8CFA6,
74px 6px #E8CFA6,
76px 6px #E8CFA6,
78px 6px #E8CFA6,
80px 6px #E8CFA6,
82px 6px #E8CFA6,
84px 6px #E8CFA6,
86px 6px #E8CFA6,
88px 6px #E8CFA6,
90px 6px #E8CFA6,
92px 6px #E8CFA6,
94px 6px #E8CFA6,
96px 6px #E8CFA6,
98px 6px #DCB98A,
100px 6px #AA7959,
102px 6px #AA7959,
0px 8px #AA7959,
2px 8px #DCB98A,
4px 8px #E8CFA6,
6px 8px #E8CFA6,
8px 8px #DCB98A,
10px 8px #DCB98A,
12px 8px #DCB98A,
14px 8px #DCB98A,
16px 8px #DCB98A,
18px 8px #DCB98A,
20px 8px #DCB98A,
22px 8px #DCB98A,
24px 8px #DCB98A,
26px 8px #DCB98A,
28px 8px #DCB98A,
30px 8px #DCB98A,
32px 8px #DCB98A,
34px 8px #DCB98A,
36px 8px #DCB98A,
38px 8px #DCB98A,
40px 8px #DCB98A,
42px 8px #DCB98A,
44px 8px #DCB98A,
46px 8px #DCB98A,
48px 8px #DCB98A,
50px 8px #DCB98A,
52px 8px #DCB98A,
54px 8px #DCB98A,
56px 8px #DCB98A,
58px 8px #DCB98A,
60px 8px #DCB98A,
62px 8px #DCB98A,
64px 8px #DCB98A,
66px 8px #DCB98A,
68px 8px #DCB98A,
70px 8px #DCB98A,
72px 8px #DCB98A,
74px 8px #DCB98A,
76px 8px #DCB98A,
78px 8px #DCB98A,
80px 8px #DCB98A,
82px 8px #DCB98A,
84px 8px #DCB98A,
86px 8px #DCB98A,
88px 8px #DCB98A,
90px 8px #DCB98A,
92px 8px #DCB98A,
94px 8px #DCB98A,
96px 8px #E8CFA6,
98px 8px #E8CFA6,
100px 8px #DCB98A,
102px 8px #AA7959,
0px 10px #AA7959,
2px 10px #E8CFA6,
4px 10px #E8CFA6,
6px 10px #DCB98A,
8px 10px #DCB98A,
10px 10px #DCB98A,
12px 10px #DCB98A,
14px 10px #DCB98A,
16px 10px #DCB98A,
18px 10px #DCB98A,
20px 10px #DCB98A,
22px 10px #DCB98A,
24px 10px #DCB98A,
26px 10px #DCB98A,
28px 10px #DCB98A,
30px 10px #DCB98A,
32px 10px #DCB98A,
34px 10px #DCB98A,
36px 10px #DCB98A,
38px 10px #DCB98A,
40px 10px #DCB98A,
42px 10px #DCB98A,
44px 10px #DCB98A,
46px 10px #DCB98A,
48px 10px #DCB98A,
50px 10px #DCB98A,
52px 10px #DCB98A,
54px 10px #DCB98A,
56px 10px #DCB98A,
58px 10px #DCB98A,
60px 10px #DCB98A,
62px 10px #DCB98A,
64px 10px #DCB98A,
66px 10px #DCB98A,
68px 10px #DCB98A,
70px 10px #DCB98A,
72px 10px #DCB98A,
74px 10px #DCB98A,
76px 10px #DCB98A,
78px 10px #DCB98A,
80px 10px #DCB98A,
82px 10px #DCB98A,
84px 10px #DCB98A,
86px 10px #DCB98A,
88px 10px #DCB98A,
90px 10px #DCB98A,
92px 10px #DCB98A,
94px 10px #DCB98A,
96px 10px #DCB98A,
98px 10px #E8CFA6,
100px 10px #E8CFA6,
102px 10px #AA7959,
0px 12px #AA7959,
2px 12px #E8CFA6,
4px 12px #E8CFA6,
6px 12px #DCB98A,
8px 12px #DCB98A,
10px 12px #DCB98A,
12px 12px #DCB98A,
14px 12px #DCB98A,
16px 12px #DCB98A,
18px 12px #DCB98A,
20px 12px #DCB98A,
22px 12px #DCB98A,
24px 12px #DCB98A,
26px 12px #DCB98A,
28px 12px #DCB98A,
30px 12px #DCB98A,
32px 12px #DCB98A,
34px 12px #DCB98A,
36px 12px #DCB98A,
38px 12px #DCB98A,
40px 12px #DCB98A,
42px 12px #DCB98A,
44px 12px #DCB98A,
46px 12px #DCB98A,
48px 12px #DCB98A,
50px 12px #DCB98A,
52px 12px #DCB98A,
54px 12px #DCB98A,
56px 12px #DCB98A,
58px 12px #DCB98A,
60px 12px #DCB98A,
62px 12px #DCB98A,
64px 12px #DCB98A,
66px 12px #DCB98A,
68px 12px #DCB98A,
70px 12px #DCB98A,
72px 12px #DCB98A,
74px 12px #DCB98A,
76px 12px #DCB98A,
78px 12px #DCB98A,
80px 12px #DCB98A,
82px 12px #DCB98A,
84px 12px #DCB98A,
86px 12px #DCB98A,
88px 12px #DCB98A,
90px 12px #DCB98A,
92px 12px #DCB98A,
94px 12px #DCB98A,
96px 12px #DCB98A,
98px 12px #E8CFA6,
100px 12px #E8CFA6,
102px 12px #AA7959,
0px 14px #AA7959,
2px 14px #E8CFA6,
4px 14px #E8CFA6,
6px 14px #DCB98A,
8px 14px #DCB98A,
10px 14px #DCB98A,
12px 14px #DCB98A,
14px 14px #DCB98A,
16px 14px #DCB98A,
18px 14px #DCB98A,
20px 14px #DCB98A,
22px 14px #DCB98A,
24px 14px #DCB98A,
26px 14px #DCB98A,
28px 14px #DCB98A,
30px 14px #DCB98A,
32px 14px #DCB98A,
34px 14px #DCB98A,
36px 14px #DCB98A,
38px 14px #DCB98A,
40px 14px #DCB98A,
42px 14px #DCB98A,
44px 14px #DCB98A,
46px 14px #DCB98A,
48px 14px #DCB98A,
50px 14px #DCB98A,
52px 14px #DCB98A,
54px 14px #DCB98A,
56px 14px #DCB98A,
58px 14px #DCB98A,
60px 14px #DCB98A,
62px 14px #DCB98A,
64px 14px #DCB98A,
66px 14px #DCB98A,
68px 14px #DCB98A,
70px 14px #DCB98A,
72px 14px #DCB98A,
74px 14px #DCB98A,
76px 14px #DCB98A,
78px 14px #DCB98A,
80px 14px #DCB98A,
82px 14px #DCB98A,
84px 14px #DCB98A,
86px 14px #DCB98A,
88px 14px #DCB98A,
90px 14px #DCB98A,
92px 14px #DCB98A,
94px 14px #DCB98A,
96px 14px #DCB98A,
98px 14px #E8CFA6,
100px 14px #E8CFA6,
102px 14px #AA7959,
0px 16px #AA7959,
2px 16px #E8CFA6,
4px 16px #E8CFA6,
6px 16px #DCB98A,
8px 16px #DCB98A,
10px 16px #DCB98A,
12px 16px #DCB98A,
14px 16px #DCB98A,
16px 16px #DCB98A,
18px 16px #DCB98A,
20px 16px #DCB98A,
22px 16px #DCB98A,
24px 16px #DCB98A,
26px 16px #DCB98A,
28px 16px #DCB98A,
30px 16px #DCB98A,
32px 16px #DCB98A,
34px 16px #DCB98A,
36px 16px #DCB98A,
38px 16px #DCB98A,
40px 16px #DCB98A,
42px 16px #DCB98A,
44px 16px #DCB98A,
46px 16px #DCB98A,
48px 16px #DCB98A,
50px 16px #DCB98A,
52px 16px #DCB98A,
54px 16px #DCB98A,
56px 16px #DCB98A,
58px 16px #DCB98A,
60px 16px #DCB98A,
62px 16px #DCB98A,
64px 16px #DCB98A,
66px 16px #DCB98A,
68px 16px #DCB98A,
70px 16px #DCB98A,
72px 16px #DCB98A,
74px 16px #DCB98A,
76px 16px #DCB98A,
78px 16px #DCB98A,
80px 16px #DCB98A,
82px 16px #DCB98A,
84px 16px #DCB98A,
86px 16px #DCB98A,
88px 16px #DCB98A,
90px 16px #DCB98A,
92px 16px #DCB98A,
94px 16px #DCB98A,
96px 16px #DCB98A,
98px 16px #E8CFA6,
100px 16px #E8CFA6,
102px 16px #AA7959,
0px 18px #AA7959,
2px 18px #E8CFA6,
4px 18px #E8CFA6,
6px 18px #DCB98A,
8px 18px #DCB98A,
10px 18px #DCB98A,
12px 18px #DCB98A,
14px 18px #DCB98A,
16px 18px #DCB98A,
18px 18px #DCB98A,
20px 18px #DCB98A,
22px 18px #DCB98A,
24px 18px #DCB98A,
26px 18px #DCB98A,
28px 18px #DCB98A,
30px 18px #DCB98A,
32px 18px #DCB98A,
34px 18px #DCB98A,
36px 18px #DCB98A,
38px 18px #DCB98A,
40px 18px #DCB98A,
42px 18px #DCB98A,
44px 18px #DCB98A,
46px 18px #DCB98A,
48px 18px #DCB98A,
50px 18px #DCB98A,
52px 18px #DCB98A,
54px 18px #DCB98A,
56px 18px #DCB98A,
58px 18px #DCB98A,
60px 18px #DCB98A,
62px 18px #DCB98A,
64px 18px #DCB98A,
66px 18px #DCB98A,
68px 18px #DCB98A,
70px 18px #DCB98A,
72px 18px #DCB98A,
74px 18px #DCB98A,
76px 18px #DCB98A,
78px 18px #DCB98A,
80px 18px #DCB98A,
82px 18px #DCB98A,
84px 18px #DCB98A,
86px 18px #DCB98A,
88px 18px #DCB98A,
90px 18px #DCB98A,
92px 18px #DCB98A,
94px 18px #DCB98A,
96px 18px #DCB98A,
98px 18px #E8CFA6,
100px 18px #E8CFA6,
102px 18px #AA7959,
0px 20px #AA7959,
2px 20px #E8CFA6,
4px 20px #E8CFA6,
6px 20px #DCB98A,
8px 20px #DCB98A,
10px 20px #DCB98A,
12px 20px #DCB98A,
14px 20px #DCB98A,
16px 20px #DCB98A,
18px 20px #DCB98A,
20px 20px #DCB98A,
22px 20px #DCB98A,
24px 20px #DCB98A,
26px 20px #DCB98A,
28px 20px #DCB98A,
30px 20px #DCB98A,
32px 20px #DCB98A,
34px 20px #DCB98A,
36px 20px #DCB98A,
38px 20px #DCB98A,
40px 20px #DCB98A,
42px 20px #DCB98A,
44px 20px #DCB98A,
46px 20px #DCB98A,
48px 20px #DCB98A,
50px 20px #DCB98A,
52px 20px #DCB98A,
54px 20px #DCB98A,
56px 20px #DCB98A,
58px 20px #DCB98A,
60px 20px #DCB98A,
62px 20px #DCB98A,
64px 20px #DCB98A,
66px 20px #DCB98A,
68px 20px #DCB98A,
70px 20px #DCB98A,
72px 20px #DCB98A,
74px 20px #DCB98A,
76px 20px #DCB98A,
78px 20px #DCB98A,
80px 20px #DCB98A,
82px 20px #DCB98A,
84px 20px #DCB98A,
86px 20px #DCB98A,
88px 20px #DCB98A,
90px 20px #DCB98A,
92px 20px #DCB98A,
94px 20px #DCB98A,
96px 20px #DCB98A,
98px 20px #E8CFA6,
100px 20px #E8CFA6,
102px 20px #AA7959,
0px 22px #AA7959,
2px 22px #E8CFA6,
4px 22px #E8CFA6,
6px 22px #DCB98A,
8px 22px #DCB98A,
10px 22px #DCB98A,
12px 22px #DCB98A,
14px 22px #DCB98A,
16px 22px #DCB98A,
18px 22px #DCB98A,
20px 22px #DCB98A,
22px 22px #DCB98A,
24px 22px #DCB98A,
26px 22px #DCB98A,
28px 22px #DCB98A,
30px 22px #DCB98A,
32px 22px #DCB98A,
34px 22px #DCB98A,
36px 22px #DCB98A,
38px 22px #DCB98A,
40px 22px #DCB98A,
42px 22px #DCB98A,
44px 22px #DCB98A,
46px 22px #DCB98A,
48px 22px #DCB98A,
50px 22px #DCB98A,
52px 22px #DCB98A,
54px 22px #DCB98A,
56px 22px #DCB98A,
58px 22px #DCB98A,
60px 22px #DCB98A,
62px 22px #DCB98A,
64px 22px #DCB98A,
66px 22px #DCB98A,
68px 22px #DCB98A,
70px 22px #DCB98A,
72px 22px #DCB98A,
74px 22px #DCB98A,
76px 22px #DCB98A,
78px 22px #DCB98A,
80px 22px #DCB98A,
82px 22px #DCB98A,
84px 22px #DCB98A,
86px 22px #DCB98A,
88px 22px #DCB98A,
90px 22px #DCB98A,
92px 22px #DCB98A,
94px 22px #DCB98A,
96px 22px #DCB98A,
98px 22px #E8CFA6,
100px 22px #E8CFA6,
102px 22px #AA7959,
0px 24px #AA7959,
2px 24px #E8CFA6,
4px 24px #E8CFA6,
6px 24px #DCB98A,
8px 24px #DCB98A,
10px 24px #DCB98A,
12px 24px #DCB98A,
14px 24px #DCB98A,
16px 24px #DCB98A,
18px 24px #DCB98A,
20px 24px #DCB98A,
22px 24px #DCB98A,
24px 24px #DCB98A,
26px 24px #DCB98A,
28px 24px #DCB98A,
30px 24px #DCB98A,
32px 24px #DCB98A,
34px 24px #DCB98A,
36px 24px #DCB98A,
38px 24px #DCB98A,
40px 24px #DCB98A,
42px 24px #DCB98A,
44px 24px #DCB98A,
46px 24px #DCB98A,
48px 24px #DCB98A,
50px 24px #DCB98A,
52px 24px #DCB98A,
54px 24px #DCB98A,
56px 24px #DCB98A,
58px 24px #DCB98A,
60px 24px #DCB98A,
62px 24px #DCB98A,
64px 24px #DCB98A,
66px 24px #DCB98A,
68px 24px #DCB98A,
70px 24px #DCB98A,
72px 24px #DCB98A,
74px 24px #DCB98A,
76px 24px #DCB98A,
78px 24px #DCB98A,
80px 24px #DCB98A,
82px 24px #DCB98A,
84px 24px #DCB98A,
86px 24px #DCB98A,
88px 24px #DCB98A,
90px 24px #DCB98A,
92px 24px #DCB98A,
94px 24px #DCB98A,
96px 24px #DCB98A,
98px 24px #E8CFA6,
100px 24px #E8CFA6,
102px 24px #AA7959,
0px 26px #AA7959,
2px 26px #E8CFA6,
4px 26px #E8CFA6,
6px 26px #DCB98A,
8px 26px #DCB98A,
10px 26px #DCB98A,
12px 26px #DCB98A,
14px 26px #DCB98A,
16px 26px #DCB98A,
18px 26px #DCB98A,
20px 26px #DCB98A,
22px 26px #DCB98A,
24px 26px #DCB98A,
26px 26px #DCB98A,
28px 26px #DCB98A,
30px 26px #DCB98A,
32px 26px #DCB98A,
34px 26px #DCB98A,
36px 26px #DCB98A,
38px 26px #DCB98A,
40px 26px #DCB98A,
42px 26px #DCB98A,
44px 26px #DCB98A,
46px 26px #DCB98A,
48px 26px #DCB98A,
50px 26px #DCB98A,
52px 26px #DCB98A,
54px 26px #DCB98A,
56px 26px #DCB98A,
58px 26px #DCB98A,
60px 26px #DCB98A,
62px 26px #DCB98A,
64px 26px #DCB98A,
66px 26px #DCB98A,
68px 26px #DCB98A,
70px 26px #DCB98A,
72px 26px #DCB98A,
74px 26px #DCB98A,
76px 26px #DCB98A,
78px 26px #DCB98A,
80px 26px #DCB98A,
82px 26px #DCB98A,
84px 26px #DCB98A,
86px 26px #DCB98A,
88px 26px #DCB98A,
90px 26px #DCB98A,
92px 26px #DCB98A,
94px 26px #DCB98A,
96px 26px #DCB98A,
98px 26px #E8CFA6,
100px 26px #E8CFA6,
102px 26px #AA7959,
0px 28px #90625D,
2px 28px #E8CFA6,
4px 28px #E8CFA6,
6px 28px #DCB98A,
8px 28px #DCB98A,
10px 28px #DCB98A,
12px 28px #DCB98A,
14px 28px #DCB98A,
16px 28px #DCB98A,
18px 28px #DCB98A,
20px 28px #DCB98A,
22px 28px #DCB98A,
24px 28px #DCB98A,
26px 28px #DCB98A,
28px 28px #DCB98A,
30px 28px #DCB98A,
32px 28px #DCB98A,
34px 28px #DCB98A,
36px 28px #DCB98A,
38px 28px #DCB98A,
40px 28px #DCB98A,
42px 28px #DCB98A,
44px 28px #DCB98A,
46px 28px #DCB98A,
48px 28px #DCB98A,
50px 28px #DCB98A,
52px 28px #DCB98A,
54px 28px #DCB98A,
56px 28px #DCB98A,
58px 28px #DCB98A,
60px 28px #DCB98A,
62px 28px #DCB98A,
64px 28px #DCB98A,
66px 28px #DCB98A,
68px 28px #DCB98A,
70px 28px #DCB98A,
72px 28px #DCB98A,
74px 28px #DCB98A,
76px 28px #DCB98A,
78px 28px #DCB98A,
80px 28px #DCB98A,
82px 28px #DCB98A,
84px 28px #DCB98A,
86px 28px #DCB98A,
88px 28px #DCB98A,
90px 28px #DCB98A,
92px 28px #DCB98A,
94px 28px #DCB98A,
96px 28px #DCB98A,
98px 28px #E8CFA6,
100px 28px #E8CFA6,
102px 28px #90625D,
0px 30px #90625D,
2px 30px #DCB98A,
4px 30px #E8CFA6,
6px 30px #E8CFA6,
8px 30px #DCB98A,
10px 30px #DCB98A,
12px 30px #DCB98A,
14px 30px #DCB98A,
16px 30px #DCB98A,
18px 30px #DCB98A,
20px 30px #DCB98A,
22px 30px #DCB98A,
24px 30px #DCB98A,
26px 30px #DCB98A,
28px 30px #DCB98A,
30px 30px #DCB98A,
32px 30px #DCB98A,
34px 30px #DCB98A,
36px 30px #DCB98A,
38px 30px #DCB98A,
40px 30px #DCB98A,
42px 30px #DCB98A,
44px 30px #DCB98A,
46px 30px #DCB98A,
48px 30px #DCB98A,
50px 30px #DCB98A,
52px 30px #DCB98A,
54px 30px #DCB98A,
56px 30px #DCB98A,
58px 30px #DCB98A,
60px 30px #DCB98A,
62px 30px #DCB98A,
64px 30px #DCB98A,
66px 30px #DCB98A,
68px 30px #DCB98A,
70px 30px #DCB98A,
72px 30px #DCB98A,
74px 30px #DCB98A,
76px 30px #DCB98A,
78px 30px #DCB98A,
80px 30px #DCB98A,
82px 30px #DCB98A,
84px 30px #DCB98A,
86px 30px #DCB98A,
88px 30px #DCB98A,
90px 30px #DCB98A,
92px 30px #DCB98A,
94px 30px #DCB98A,
96px 30px #E8CFA6,
98px 30px #E8CFA6,
100px 30px #DCB98A,
102px 30px #90625D,
2px 32px #90625D,
4px 32px #DCB98A,
6px 32px #E8CFA6,
8px 32px #E8CFA6,
10px 32px #E8CFA6,
12px 32px #E8CFA6,
14px 32px #E8CFA6,
16px 32px #E8CFA6,
18px 32px #E8CFA6,
20px 32px #E8CFA6,
22px 32px #E8CFA6,
24px 32px #E8CFA6,
26px 32px #E8CFA6,
28px 32px #E8CFA6,
30px 32px #E8CFA6,
32px 32px #E8CFA6,
34px 32px #E8CFA6,
36px 32px #E8CFA6,
38px 32px #E8CFA6,
40px 32px #E8CFA6,
42px 32px #E8CFA6,
44px 32px #E8CFA6,
46px 32px #E8CFA6,
48px 32px #E8CFA6,
50px 32px #E8CFA6,
52px 32px #E8CFA6,
54px 32px #E8CFA6,
56px 32px #E8CFA6,
58px 32px #E8CFA6,
60px 32px #E8CFA6,
62px 32px #E8CFA6,
64px 32px #E8CFA6,
66px 32px #E8CFA6,
68px 32px #E8CFA6,
70px 32px #E8CFA6,
72px 32px #E8CFA6,
74px 32px #E8CFA6,
76px 32px #E8CFA6,
78px 32px #E8CFA6,
80px 32px #E8CFA6,
82px 32px #E8CFA6,
84px 32px #E8CFA6,
86px 32px #E8CFA6,
88px 32px #E8CFA6,
90px 32px #E8CFA6,
92px 32px #E8CFA6,
94px 32px #E8CFA6,
96px 32px #E8CFA6,
98px 32px #DCB98A,
100px 32px #90625D,
4px 34px #90625D,
6px 34px #DCB98A,
8px 34px #E8CFA6,
10px 34px #E8CFA6,
12px 34px #E8CFA6,
14px 34px #E8CFA6,
16px 34px #E8CFA6,
18px 34px #E8CFA6,
20px 34px #E8CFA6,
22px 34px #E8CFA6,
24px 34px #E8CFA6,
26px 34px #E8CFA6,
28px 34px #E8CFA6,
30px 34px #E8CFA6,
32px 34px #E8CFA6,
34px 34px #E8CFA6,
36px 34px #E8CFA6,
38px 34px #E8CFA6,
40px 34px #E8CFA6,
42px 34px #E8CFA6,
44px 34px #E8CFA6,
46px 34px #E8CFA6,
48px 34px #E8CFA6,
50px 34px #E8CFA6,
52px 34px #E8CFA6,
54px 34px #E8CFA6,
56px 34px #E8CFA6,
58px 34px #E8CFA6,
60px 34px #E8CFA6,
62px 34px #E8CFA6,
64px 34px #E8CFA6,
66px 34px #E8CFA6,
68px 34px #E8CFA6,
70px 34px #E8CFA6,
72px 34px #E8CFA6,
74px 34px #E8CFA6,
76px 34px #E8CFA6,
78px 34px #E8CFA6,
80px 34px #E8CFA6,
82px 34px #E8CFA6,
84px 34px #E8CFA6,
86px 34px #E8CFA6,
88px 34px #E8CFA6,
90px 34px #E8CFA6,
92px 34px #E8CFA6,
94px 34px #E8CFA6,
96px 34px #DCB98A,
98px 34px #90625D,
6px 36px #90625D,
8px 36px #90625D,
10px 36px #90625D,
12px 36px #90625D,
14px 36px #90625D,
16px 36px #90625D,
18px 36px #90625D,
20px 36px #90625D,
22px 36px #90625D,
24px 36px #90625D,
26px 36px #90625D,
28px 36px #90625D,
30px 36px #90625D,
32px 36px #90625D,
34px 36px #90625D,
36px 36px #90625D,
38px 36px #90625D,
40px 36px #90625D,
42px 36px #90625D,
44px 36px #90625D,
46px 36px #90625D,
48px 36px #90625D,
50px 36px #90625D,
52px 36px #90625D,
54px 36px #90625D,
56px 36px #90625D,
58px 36px #90625D,
60px 36px #90625D,
62px 36px #90625D,
64px 36px #90625D,
66px 36px #90625D,
68px 36px #90625D,
70px 36px #90625D,
72px 36px #90625D,
74px 36px #90625D,
76px 36px #90625D,
78px 36px #90625D,
80px 36px #90625D,
82px 36px #90625D,
84px 36px #90625D,
86px 36px #90625D,
88px 36px #90625D,
90px 36px #90625D,
92px 36px #90625D,
94px 36px #90625D,
96px 36px #90625D;
}
